@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

:root{
    --open-sans: 'Open Sans', sans-serif;
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
}

*{
    margin: 0;
    font-family: var(--open-sans);
    scroll-behavior: smooth;
}

.margin{
    margin: auto;
    max-width: 1440px;
}
.fa-water,
.fa-tree,
.fa-mountain-sun,
.fa-city{
    color: var(--red);
}

h1, h2{
    font-size: 22px;
    font-weight: 700;
    color: var(--black);
}

h3{
    font-size: 16px;
    font-weight: 700;
    color: var(--black);
}

p{
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

a{
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
    transition:all 0.3s;
    text-decoration: none;
}
a:hover{
    color: var(--red);
    transition: all 0.3s;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    padding:0px 15px;
}

header img{
    width: 180px;
    margin: 10px;
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
    padding: 0px;
}

nav li{
    padding-top: 40px;
    border-top:1px solid transparent;
}

nav ul li a:hover{
    border-top: var(--red) 1px solid;
    padding-top: 40px;
}

/* Section 1 */

#section1{
    padding:0px 15px;
    margin-top: 40px;
}

#formSection1{
    margin: 40px 0px;
}

#formSection1 button{
    background-color: var(--red);
    color: var(--white);
    padding: 7px;
    border: none;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

#formSection1 i{
    background-color: var(--red);
    padding: 8px;
    border-radius: 5px 0px 0px 5px;
    z-index: -1;
}

#formSection1 input{
    margin: -4.5px;
    padding: 6px;
    border-radius: 1px;
    border: 1px solid var(--grey);
    outline: none;
}
::placeholder{
    color: var(--black);
}

#formSection1 input[type="text"]{
    color: var(--black);
    padding-left: 5px;
}

#section1 div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

#section1 div a{
    display: flex;
}


#section1 div a:hover{
    color: var(--white);
}

#filter{
    padding-right: 20px;
    font-weight: 700;
}

#section1 div i{
    padding-right: 5px;
}

#pSection1{
    margin-bottom: 40px;

}

.iconeFilter{
    margin-right: 20px;
    border: var(--red) 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
    transition: all 0.3s;
    align-items: center;
}

.iconeFilter:hover{
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.iconeFilter:hover i{
    background-color: var(--red);
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.fa-circle-info{
    color: var(--red);
    padding-right: 5px;

}

/* Section 2 */

#section2{
    display: flex;
    padding: 0px 15px;
    gap: 40px;
    margin-bottom: 30px;
}

#section2 h3{
    padding-left: 5px;
}

#section2 img {
    height: 160px;
    width: 100%; 
    object-fit: cover;
    transition: transform 0.3s, filter 0.3s;
    border-radius: 12px 12px 0px 0px;
}

#section2 a:hover img{
    transform: scale(102%) translateY(-1px); 
    filter: grayscale(75%);
}

#imgGranVia{
    width: 105%;
}

#section2 i{
    color: var(--red);
    margin: 30px 0px 0px 5px;
}

#section2 i:last-child{
    color: var(--grey);
}

#section2 p{
    margin:10px 0px 0px 5px;
}

#section2 article{
    background-color: var(--white);
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Ombre grise */
    position: relative;
}

#divArticleSection2{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

#divArticleSection2 a{
    flex: 1 0 30%;
}

#divArticleSection2 a article.recommended::after{
    content: 'Recommended';
    position: absolute;
    top: 10px;
    right: 12px;
    background: var(--red);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}

#div1section2{
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 30%;
    gap:40px;
    padding:40px;
    background-color: var(--lightgrey);
    border-radius: 12px;
}

#div1section2 h2{
    padding: 15px;
    display: flex;
}

#leadMore{
    font-size: 16px;
    font-weight: 700;
    padding: 15px;
    display: flex;
}

#div2section2 article{
    gap: 30px;
    display: flex;
}

#div2section2 a article.popular::after{
    content: 'Popular';
    position: absolute;
    top: 10px;
    left: 12px;
    background: var(--red);
    color: var(--white);
    padding: 5px;
    border-radius: 4px;
    font-size: 13px;
}

.divMostPopularAccommodations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#div2section2 img{
    height: 160px;
    width: 95px;
    border-radius: 12px 0px 0px 12px;
}

#div2section2 a:hover img{
    transform: scale(103%) translateX(-1px);
    filter: grayscale(75%);
}

#div2section2{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--lightgrey);
    border-radius: 12px;
    gap: 40px;
    padding: 0px 40px 40px 40px;
}

#div2section2 h2{
    padding: 15px;
}

/* Section 3 */

#section3{
    padding: 0px 15px;
    margin-bottom: 30px;
}

#section3 h2{
    margin-bottom: 30px;
}

#section3 img{
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    height: 380px;
}

#divSection3{
    display: flex;
    gap: 40px;
}

#divSection3 a{
    flex: 1 0 20%;
}

#divSection3 h3{
    padding-top: 17px;
}

#divSection3 article{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    padding-bottom: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#divSection3 article img{
    transition: all 0.3s;
    object-fit: cover;
}

#divSection3 article:hover img{
    transform: scale(102%) translateX(-1px);
    filter: grayscale(75%);
    transition: all 0.3s;
}


/* Footer */

footer{
    padding: 0px 15px;
}

footer p{
    text-align: center;
    margin: 20px;
}

footer div{
    display: flex;
    background-color: var(--lightgrey);
    border-radius: 12px 12px 0px 0px;
    padding: 40px;
}

footer article{
    flex: 1;
}

footer ul{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer h2{
    margin-bottom: 20px;
    font-size:18px;
}

footer a:hover{
    color: var(--red);
    transition: all 0.3s;
}

/* Responsive tablette */

@media (max-width: 1024px) { 

#section2{
    flex-direction: column;
}

#divSection3{
    flex-wrap: wrap;
}

#divSection3 a {
    flex: 1 0 40%;
}

footer {
    padding: 0px;
}
}

/* Responsive mobile */

@media (max-width: 767px) {

header{
    flex-direction: column;
    align-items: center;
}

nav{
    width: 100%;
    text-align: center;
}

nav ul{
    gap:0px;
}

nav li{
    flex: 1;
    border-bottom: 1px solid var(--lightgrey);
    padding-bottom: 20px;
    transition: all 0.3s;
}

nav li:hover{
    border-bottom: var(--red) 1px solid;
    padding-bottom: 20px;
    transition: all 0.3s;
    cursor: pointer;
}

nav li:hover a{
    color: var(--red);
    transition: all 0.3s;
}

nav ul li a:hover {
    border-top: none;
}

#section1 div {
    flex-wrap: wrap;
    row-gap: 20px;
}

#section2 {
    flex-direction: column-reverse;
}

#div2section2 article {
    gap: 5px;
}

#section2 i{
    margin: 0px;
}

#section2 p {
    margin: 10px 0px 10px 5px;
}

#divArticleSection2 a {
    flex: 1 0 100%;
}

#div2section2 img {
    width: 75px;
}

#divSection3 a {
    flex: 1 0 100%;
}

footer div{
    flex-direction: column;
    gap: 40px;
}

}